/* Pull the body under the menu */
body {
        padding-top: 10px;
}
.starter-template {
        padding: 40px 0px;
        text-align: left;
}
/*******************************/

.well-std{
background-color: #E5E8E8;
}

/* Stop the content from jumping around
based on scroll bar presence */
html {
          overflow-y: scroll;
}
/*******************************/


/* Override hyperlink defaults */
a {
        color: #336699;
}

.table a:not(.btn){text-decoration:none}
/*******************************/

/* Standard gender buttons */
.btn-standard {
        padding: 0px 8px;
        border: 0 none;
        font-weight: 700;
        letter-spacing: 1px;
}
/*******************************/


/* Modified glyph style to put into button */
.wrapper {
       position: relative;
}

.wrapper .glyphicon {
       position: absolute;
          top: 0.50px;
          left: 3.75px;
}
span.glyphicon-mark {
        font-size: 0.9em;
}
/*******************************************/


/* Simple colour classes for glyphs to use */
.red {
        color: red;
}
.gold {
        color: gold;
}
.green {
        color: green; 
}
/*******************************************/


/* Table background stuff */
.table th {
    background-color: #ecf0f1;
}

.table tr.tr_dark_topborder td {
            border-top: 2px solid lightgrey; 
    }
/*******************************************/


/* Things to do only on very small displays */
@media (max-width: 480px) {
.btn {
        margin: 2px;
}
}
/*******************************************/

/* Collapse navbar at sm instead of xs 
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
/*******************************************/

@media (max-width: 992px) {
   .container {
      width: 100%;
   }
}

/* Very tight table */
.table-very-condensed>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
        padding: 4.9px;
}
/* 
