{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
About |
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
 <h3>About</h3>
 <h4>How is the World Ranking time calculated?</h4>
 <div class="well">
  <p>We take all of an athlete's races (that we know about) over the past 18 months, convert them to 5k equivalent times, then take the average of the best three.</p>
  </div>
 <h4>How are ties broken in the World Ranking?</h4>
 <div class="well">
  <p>In the event of a tie in World Ranking time, higher rank will be determined by:</p>
  <ol>
   <li>Lowest sum of top 3 current times</li>
   <li>Fastest current time</li>
   <li>Second fastest current time</li>
  </ol>
  </div>
 <h4>I'm pretty sure I'm faster than the person ahead of me. How can I pass them?</h4>
 <div class="well">
  <p>Use <a href="/calc">this calculator</a> to see what you need to run at various distances to pass someone else in the World Ranking.</p>
  </div>
 <h4>What are all these acronyms & terms?</h4>
 <div class="well">
   <ul>
    <li><strong>D2D</strong>: Days to Damage - The number of days until one of the athlete's best three results will be older than 18 months and no longer count toward their average time. If this is red it means that the value is less than {{ d2dred }} days, and the athlete doesn't have a 4th best race to replace it, so they will be removed from the World Ranking.</li>
    <li><strong>TI</strong>: Time improvement for the athlete since the end of the previous month.</li>
    <li><strong>+/-</strong>: The number of ranking positions the athlete has changed since the end of the previous month.</li>
    <li><strong>AD</strong>: Average distance of the athlete's top 3 current results.</li>
    <li><strong>~ 5K</strong>: The 5k equivalent time for a race.</li>
    <li><strong>RP</strong>: Race finishing place.</li>
    <li><strong>GP</strong>: Gender finishing place.</li>
    <li><strong>CP</strong>: Category finishing place.</li>
    <li><strong>D2E</strong>: Days to Expiry - The number of days until a race will be older than 18 months and no longer included in world ranking calculation.</li>
    <li>
      <!--
      <a href="#" class="btn btn-default btn-sm disabled wrapper">
        <span class="glyphicon glyphicon-{{ master_glyph }} glyphicon-mark" aria-hidden="true"></span>
      </a>
      -->
      <strong> Masters</strong>: Athletes over 40 years of age.
    </li>
    <li><a href="#" class="btn btn-default btn-sm disabled wrapper"><span class="glyphicon glyphicon-flash glyphicon-mark" aria-hidden="true"></span></a> <strong>Personal Best</strong>: Best ever time for the distance.</li>
    <li><a href="#" class="btn btn-default btn-sm disabled wrapper"><span class="glyphicon glyphicon-star glyphicon-mark" aria-hidden="true"></span></a> <strong>Career Best</strong>: Best ever 5K equivalent time for any distance.</li>
    <li><span class="glyphicon glyphicon-heart red" aria-hidden="true"></span><strong> Top 3 Result</strong>: Result currently counts for ranking calculation.</li>
   </ul>
   </div>
 <h4>What races are included?</h4>
 <div class="well">
  <p>We are generally including races as far back as 2012 that meet one of the following criteria:</p>
    <ul>
      <li>Any "proper" race between 800m and 100M with published results and a distance listed at <a href="https://www.mcmillanrunning.com/">McMillan Running</a>.</li>
      <li>All timed races of any distance that are part of the <a href="http://www.runwaterloo.com">Waterloo Running Series</a>.</li>
      <li>Any timed H+P event (<a href="https://sites.google.com/site/healthperformancewaterloo/summer-time-trial">Summer TT</a>, impromptu track sessions, etc) deemed appropriate by the H+P coaches.</li>
      <li>We will not be including run legs of multisport events.</li>
    </ul> 
  <p>Any races that are mentioned in the weekly club update emails should be added within a day or two. Let us know if we miss anything!</p>
  </div>
 <h4>I usually go by a different name than you have here, can you change it?</h4>
 <div class="well">
  <p>We sure can! Let us how you would like your name displayed and we'll make it happen.</p>
  </div>
 <h4>Some of my race results are under a different name. Is this ok?</h4>
 <div class="well">
  <p>Yes! Let us know all the different names you have in your results and we'll make sure they all get included.</p>
  </div>
 <h4>How were the Top/Next 40 Strava segments selected?</h4>
 <div class="well">
  <p>These are the 40 most-run segments in the area that have not been excluded for one of the following reasons: traffic, too short, too complicated, bad start/end points, or too similar to another segment. They can change over time as popularity changes.</p>
  </div>
 <h4>What is Strava Conquest</h4>
 <div class="well">
  <p>Most people can't run 3:00 KMs and compete for popular Strava segment CRs. That's where Strava Conquest comes in. This is a ranking of who has completed (at any pace) the most Top and Next 40 segments. It's about getting out there, getting off your normal routes, and exploring the area. Ties are broken by most KM completed, then by total time.</p>
  </div>
 <h4>I'm an H+P member, but I'm not on this website. What gives?</h4>
 <div class="well">
  <p>If you can find your name with the search, but you aren't listed in the ranking, then you don't have three races in the past 18 months. If you can't even find your name using the search then you aren't in the system. Please let us know and we'll add you.</p>
  </div>
 <h4>I'd rather not be included on this website.</h4>
 <div class="well">
  <p>No problem! Inclusion in this website is totally optional. Just let us know and you'll be prompty removed.</p>
  </div>
 <h4>Who should I contact for any questions or issues?</h4>
 <div class="well">
  <p>You can email Sam at <strong>sl70176@gmail.com</strong> for anything you need.</p>
  </div>
{% endblock %}
