{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{{ athlete.name }} 
{% if racefilter == 'Wins' %}
- Wins
{% endif %}
|
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>
  <a href="#" class="btn btn-{{ gender_colour_class }} btn-sm disabled"></a>
  {{ athlete.name }}
  {% if rawstds %}
  <a href="#" class="btn btn-{{ rawstds.colour }} btn-sm btn-standard disabled">{{ rawstds.letter }}</a>
  {% endif %}
  {% if racefilter == 'Wins' %}
  - Wins
  {% endif %}
</h3> 

{% for s in cleanstds %}
<div class="well-sm well-std" style="display:inline-block">
    <a href="#" class="btn btn-{{ s.colour }} btn-sm btn-standard disabled">{{ s.letter }}</a> {{ s.distance }}
</div>
{% endfor %}
<p></p>

<div class="btn-toolbar">

  <!-- Race Filter -->
  <div class="btn-group">
    {% if racefilter == 'Current' %}
      <a href="#" class="btn btn-default btn-sm disabled">Current</a>
      <a href="/athlete/{{ athlete.slug }}/?racefilter=All" class="btn btn-sm btn-default">All</a>
      <a href="/athlete/{{ athlete.slug }}/?racefilter=PBs" class="btn btn-sm btn-default">PBs</a>
      {% if wincount > 0 %}
        <a href="/athlete/{{ athlete.slug }}/?racefilter=Wins" class="btn btn-sm btn-default">Wins</a>
      {% endif %}
    {% elif racefilter == 'All' %}
      <a href="/athlete/{{ athlete.slug }}" class="btn btn-sm btn-default">Current</a>
      <a href="#" class="btn btn-sm btn-default disabled">All</a>
      <a href="/athlete/{{ athlete.slug }}/?racefilter=PBs" class="btn btn-sm btn-default">PBs</a>
      {% if wincount > 0 %}
        <a href="/athlete/{{ athlete.slug }}/?racefilter=Wins" class="btn btn-sm btn-default">Wins</a>
      {% endif %}
    {% elif racefilter == 'PBs' %}
      <a href="/athlete/{{ athlete.slug }}" class="btn btn-sm btn-default">Current</a>
      <a href="/athlete/{{ athlete.slug }}/?racefilter=All" class="btn btn-sm btn-default">All</a>
      <a href="#" class="btn btn-sm btn-default disabled">PBs</a>
      {% if wincount > 0 %}
        <a href="/athlete/{{ athlete.slug }}/?racefilter=Wins" class="btn btn-sm btn-default">Wins</a>
      {% endif %}
    {% elif racefilter == 'Wins' %}
      <a href="/athlete/{{ athlete.slug }}" class="btn btn-sm btn-default">Current</a>
      <a href="/athlete/{{ athlete.slug }}/?racefilter=All" class="btn btn-sm btn-default">All</a>
      <a href="/athlete/{{ athlete.slug }}/?racefilter=PBs" class="btn btn-sm btn-default">PBs</a>
      {% if wincount > 0 %}
        <a href="#" class="btn btn-sm btn-default disabled">Wins</a>
      {% endif %}
    {% endif %}
  </div>

  {% if racefilter != 'PBs' and racefilter != 'Wins' %}
    {% if distances|length > 1%}
      <div class="btn-group">
        {% if distance %}
          <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">{{ distance.name }} <span class="caret"></span></a>
        {% else %}
          <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Distance <span class="caret"></span></a>
        {% endif %}
        <ul class="dropdown-menu">
        {% if distance %}
          {% if racefilter == 'All' %}
            <li><a href="/athlete/{{ athlete.slug }}/?racefilter=All">All</a></li>
          {% else %}
            <li><a href="/athlete/{{ athlete.slug }}">All</a></li>
          {% endif %}
        {% endif %}
        {% for dist in distances %}
          {% if dist != distance %}
            {% if racefilter == 'All' %}
              <li><a href="/athlete/{{ athlete.slug }}/?racefilter=All&distance={{ dist.slug }}">{{ dist.name }}</a></li>
            {% else %}
              <li><a href="/athlete/{{ athlete.slug }}/?distance={{ dist.slug }}">{{ dist.name }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endif %}

  {% if not athlete.quitdate %}
    {% if top3 %}
      <a href="/calc/?athlete={{ athlete.slug }}&distance=5-km" class="btn btn-sm btn-default">
        <i title="Calc">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        </i>
    </a>
    {% endif %}
  {% endif %}

</div>

<div class="table-responsive">
<p></p>
<table class="table table-bordered table-hover">
  <tr>
    <th class="text-center" title="5K Equivalent Time">~5K</th>
    <th>Race</th>
    <th class="text-center">Time</th>
    <th class="text-center" title="min/km">Pace</th>
    <th class="text-center" title="Race Place">RP</th>
    <th class="text-center" title="Gender Place">GP</th>
    <th class="text-center" title="Category Place">CP</th>
    <th>Category</th>
    <th class="text-center" title="Days until race expires and is no longer eligible for ranking.">D2E</th>
  </tr>
  {% for result in results %}
    <tr>
      <td class="text-center">{{ result.c25kstr }}</td>
      <td>
        {% if result.event in top3 %}
          <i title="Counts in Top 3 for ranking."><span class="glyphicon glyphicon-heart red" aria-hidden="true"></span></i>
        {% endif %}
        <a href="/results/{{ result.event.date.year }}/{{ result.event.race.slug }}/{{ result.event.distance.slug }}">{{ result.event.date.year }} {{ result.event.race.shortname }} {{ result.event.distance.name }}</a>
      </td>
      <td class="text-center">{{ result.chiptime }}</td>
      <td class="text-center">{{ result.pace }}</td>
      <td class="text-center">{{ result.place }}</td>
      <td class="text-center">{{ result.gender_place }}</td>
      {% if result.category %}
        <td class="text-center">{{ result.category_place }}</td>
      {% else %}
        <td></td>
      {% endif %}
      <td>{{ result.category }}</td>
      <td class="text-center">
      {% if result.d2e %}
        {{ result.d2e }}
      {% else %}
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
</div>
{% endblock content %}
