<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
  <head>
    <title>
      {% block title %}
      {% endblock %}
      H+P World Ranking
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'hpwr_apple_touch.png' %}" />
    {% block ogmeta %}{% endblock ogmeta %}

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">HPWR</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ENDURrun
              <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/endurrun/ultimate/?year=2018">Individual Ultimate</a></li>
                <li><a href="/endurrun/relay/?year=2018">Team Relay</a></li>
                <li><a href="/endurrun/battles/?year=2018">Battles</a></li>
              </ul>
            </li>
            -->
            <li><a href="/ranking">Ranking</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Multisport
              <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/multisport/ranking">Ranking</a></li>
                <li><a href="/multisport/events">Events</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Strava
              <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <!--<li><a href="/strava/segments/map">Segments Map</a></li>-->
                <li><a href="/strava/crs/top-40">Top 40 Segments</a></li>
                <li><a href="/strava/crs/next-40">Next 40 Segments</a></li>
                <li><a href="/strava/conquest">Conquest</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More
              <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/calc">Calc</a></li>
                <li><a href="/races">Races</a></li>
                <li><a href="/pbranking/5-km">H+P PB Rankings</a></li>
                <li><a href="/quad">Quadruple Threat</a></li>
                <li><a href="/career-bests">Career Bests</a></li>
                <li><a href="/standards">Standards</a></li>
                <li><a href="/rankiest">Rankiest Races</a></li>
                <li><a href="/favourite">Favourite Races</a></li>
                <li><a href="/challenges/">Team Challenges</a></li>
                <li><a href="/wins/">Race Wins</a></li>
                <li><a href="/endurrun/ultimate">ENDURrun</a></li>
                <!--<li><a href="/calc-v1">Original Calc</a></li>-->
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search" action="/search/" method="get">
            <div class="form-group has-feedback">
              <input type="text" class="form-control" name="q" placeholder="Name or Race" size="11">
              <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
         </form>

          <ul class="nav navbar-nav pull-right">
            <li><a href="/about"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
        {% block content %}
        {% endblock %}
        <!--<p>&copy; 2016 <a href="http://www.health-performance.ca">Health & Performance</a>. All Rights Reserved.</p>-->
      </div>
    </div><!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
