{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Calc |
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>Calc</h3>
 <p>Athlete:
  <select onchange="location = this.options[this.selectedIndex].value;">
  {% if athlete %}
      <option>{{ athlete.name }}</option>
  {% else %}
      <option></option>
  {% endif %}
  {% for a in wr_sorted_athletes %}
      {% if a.athlete != athlete %}
       {% if distance %}
      <option value="/calc/?athlete={{ a.athlete.slug }}&distance={{ distance.slug }}">{{ a.athlete.name }}</option>
       {% else %}
      <option value="/calc/?athlete={{ a.athlete.slug }}">{{ a.athlete.name }}</option>
       {% endif %}
      {% endif %}
  {% endfor %}
  </select>

{% if athlete %}
&nbsp;&nbsp;Distance: 
  <select onchange="location = this.options[this.selectedIndex].value;">
  {% if not distance %}
      <option></option>
  {% else %}
      <option>{{ distance.name }}</option>
  {% endif %}
  {% for d in distances %}
      {% if d != distance %}
        <option value="/calc/?athlete={{ athlete.slug }}&distance={{ d.slug }}">{{ d.name }}</option>
      {% endif %}
  {% endfor %}
  </select>
{% endif %}
</p>

{% if distance %}
<p>Race time required to improve ranking time: {{ results.0.time }}.</p>
<p>Race times required to pass people (in a single race):
<div class="row">
<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
<table class="table table-bordered table-hover">
<tr>
 <th>Victim</th>
 <th class="text-center">Time</th>
 <th class="text-center">Pace</th>
</tr>
{% for r in results %}
{% if forloop.counter != 1 %}
<tr>
<td><a href="#" class="btn btn-{{ r.colour_class }} btn-sm disabled"></a> <a href="/athlete/{{ r.athlete.slug}}/">{{ r.athlete.name }}</a></td>
<td class="text-center"> {{ r.time }}</td>
<td class="text-center"> {{ r.pace }}</td>
{% endif %}
{% endfor %}
</tr>
</table>
</div>
</div>
{% endif %}
{% endblock content %}
