{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Original Calc |
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>Original Calc</h3>
 <p>The Hunter:
  <select onchange="location = this.options[this.selectedIndex].value;">
  {% if hunter %}
      <option>{{ hunter.name }}</option>
  {% else %}
      <option></option>
  {% endif %}
  {% for athlete in wr_sorted_athletes %}
      {% if athlete.athlete != hunter %}
      <option value="/calc-v1/?hunter={{ athlete.athlete.slug }}">{{ athlete.athlete.name }}</option>
      {% endif %}
  {% endfor %}
  </select>
 </p>

 <p>The Hunted:
  <select onchange="location = this.options[this.selectedIndex].value;">
  {% if not hunted %}
      <option></option>
  {% else %}
    {% for athlete in wr_higher_athletes %}
      {% if athlete.athlete == hunted %}
        <option>{{ athlete.athlete.name }}</option>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if hunted %}
    <option value="/calc-v1?hunter={{ hunter.slug }}"></option>
  {% endif %}
  {% for athlete in wr_higher_athletes %}
      {% if athlete.athlete != hunted %}
        <option value="/calc-v1?hunter={{ hunter.slug }}&hunted={{ athlete.athlete.slug }}">{{ athlete.athlete.name }}</option>
      {% endif %}
  {% endfor %}
  </select>

  {% if hunter %}
    {% if passpossible %}
      <p><a href="/athlete/{{ hunter.slug }}">{{ hunter.name }}</a> can
      {% if hunted %}
        pass <a href="/athlete/{{ hunted.slug }}">{{ hunted.name }}</a> in the World Ranking in one race
      {% else %}
        improve World Ranking time
      {% endif %}
        by running one of the following:
        </p>

<table class="table table-bordered">
<tr>
{% for t in timestorun %}
<td class="text-center">{{ t.distname }}: {{ t.time }}</td>
{% if forloop.counter|divisibleby:3 %}
</tr></tr>
{% endif %}
{% endfor %}
</tr>
</table>
      {% if not hunted %}
      <p>Choose a "hunted" to find out what it would take to pass someone.</p>
      {% endif %}
    {% else %}
      <p><a href="/athlete/{{ hunter.slug }}">{{ hunter.name }}</a> cannot pass <a href="/athlete/{{ hunted.slug }}">{{ hunted.name }}</a> in one race.
    {% endif %}
  {% endif %}
 </p>

{% endblock content %}
