{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Career Bests | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>Career Bests</h3>
<h4>50 Most Recent</h4>
<div class="row">
  <div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table class="table table-bordered table-hover">
      <tr>
        <th class="text-center">#</th>
        <th>Athlete</th>
        <th class="text-center">Time</th>
        <th>Dist</th>
        <th>Race</th>
        <th class="text-center">Date</th>
      </tr>
      {% for r in results %}
        <tr>
          <td class="text-center">{{ forloop.counter }}</td>
          <td>
            {% if r.result.athlete.gender == 'F' %}
              <a href="#" class="btn btn-{{ female_colour_class }} btn-sm disabled"></a>
            {% else %}
              <a href="#" class="btn btn-{{ male_colour_class }} btn-sm disabled"></a>
            {% endif %}
            <a href="/athlete/{{ r.result.athlete.slug }}">{{ r.result.athlete.name }}</a>
          </td>
          <td class="text-center">{{ r.trunc_time }}</td>
          <td>{{ r.result.event.distance.name }}</td>
          <td>{{ r.result.event.race.name }}</td>
          <td class="text-center">{{ r.result.event.date }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
