{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{{ challenge.name }} | {{ event.date.year }} {{ event.race.shortname }} {{ event.distance }} | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>{{ challenge.name }} <small>
{% if teamresults.0.total_time %}
<a href="/results/{{ event.date.year }}/{{ event.race.slug }}/{{ event.distance.slug }}">{{ event.date.year }} {{ event.race.shortname }} {{ event.distance }}</a>
{% else %}
{{ event.date.year }} {{ event.race.shortname }} {{ event.distance }}
{% endif %}
</small>
{% if challenge.count > 1 %}
<h5><i>Top {{ challenge.count }} runners count</i></h5>
{% endif %}
</h3>
  <p></p>
{% if not teamresults.0.total_time %}
 <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
{% endif %}

  {% for t in teamresults %}
    <h4>
      {% if forloop.counter == 1 %}
        {% if t.total_time %}
           <span class="glyphicon glyphicon-glass gold" aria-hidden="true"></span>
        {% endif %}
      {% endif %}
      {{ t.team.name }}
        {% if t.total_time %}
            - {{ t.total_time }} ({{ t.average_time }}) | Avg Place: {{ t.average_place|floatformat:1 }}
        {% endif %}
    </h4>
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <tr>
        {% if t.total_time %}
        <th class="text-center" title="Team Place">TP</th>
        {% else %}
        <th class="text-center" title="World Ranking Rank">Rank</th>
        {% endif %}
        <th>Athlete</th>
        {% if t.total_time %}
        <th class="text-center" title="Time">Time</th>
        <th class="text-center" title="min/km">Pace</th>
        {% if event.distance.slug != '5-km' %}
          <th class="text-center" title="5K Equivalent Time">~5K</th>
        {% endif %}
        <th class="text-center" title="Race Place">RP</th>
        <th class="text-center" title="Gender Place">GP</th>
        {% if showcategory %}
          <th class="text-center" title="Category Place">CP</th>
          <th>Category</th>
        {% endif %}
        {% else %}
        <th class="text-center" title="Rank Time">Rank Time</th>
        {% endif %}
      </tr>
      {% for r in t.results %}
        {% if forloop.counter|add:"-1" == challenge.count and t.total_time %}
        <tr class="tr_dark_topborder">
        {% else %}
        <tr>
        {% endif %}
          {% if t.total_time %}
          <td class="text-center">{{ forloop.counter }}</td>
          {% else %}
          {% if r.rank.rank < 1000 %}
          <td class="text-center">{{ r.rank.rank }}</td>
          {% else %}
          <td class="text-center">NR</td>
          {% endif %}
          {% endif %}
          <td>
          {% if r.glyph and r.result.place > 0  %}
          {% if r.glyph == 'star' %}
          <i title="Career Best (any distance)">
          {% else %}
          <i title="Personal Best">
          {% endif %}
          <a href="#" class="btn btn-{{ r.colour_class }} btn-sm disabled wrapper"><span class="glyphicon glyphicon-{{ r.glyph }} glyphicon-mark" aria-hidden="true"></span></a>
          </i>
          <a href="/athlete/{{ r.athlete.slug }}">{{ r.athlete }}</a>
          {% else %}
          <a href="#" class="btn btn-{{ r.colour_class }} btn-sm disabled"></a> <a href="/athlete/{{ r.athlete.slug }}">{{ r.athlete }}</a></td>
          {% endif %}
          {% if t.total_time %}
          <td class="text-center"> {{ r.result.chiptime }}</td>
          {% if r.pace %}
          <td class="text-center">{{ r.pace }}</td>
          {% else %}
          <td></td>
          {% endif %}
          {% if event.distance.slug != '5-km' %}
            <td class="text-center">{{ r.fivek_equiv }}</td>
          {% endif %}
          {% if r.result.place != 0 %}
          <td class="text-center">{{ r.result.place }}</td>
          {% else %}
          <td></td>
          {% endif %}
          {% if r.result.gender_place %}
          <td class="text-center">{{ r.result.gender_place }}</td>
          {% else %}
          <td></td>
          {% endif %}
          {% if showcategory %}
            <td class="text-center">{{ r.result.category_place }}</td>
            <td>{{ r.result.category }}</td>
          {% endif %}
          {% else %}
          <td class="text-center"> {{ r.ranktime }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    </div>
  {% endfor %}
{% if not teamresults.0.total_time %}
 </div>
      </div>
{% endif %}
{% endblock content %}
