{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Team Challenges | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>
Team Challenges
</h3>
 <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 table-responsive">
<table class="table table-bordered">
  <tr>
    <th>Challenge</th>
    <th>Event</th>
  </tr>
  {% for c in challenges %}
      <tr>
        <td><a href="/challenge/{{ c.slug }}/{{ c.event.date.year }}/{{ c.event.race.slug }}/{{ c.event.distance.slug }}/">{{ c.name }}</a></td>
        <td>{{ c.event }}</td>
      </tr>
  {% endfor %}
      </table>
      </div>
      </div>

{% endblock content %}
