{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{% if year %}
  {{ year }}
{% endif %}
ENDURrun Ultimate | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>
{% if year %}
  {{ year }}
{% endif %}
  ENDURrun Ultimate
</h3>
<div class="btn-toolbar">

  <div class="btn-group">
      <a href="#" class="btn btn-default btn-sm disabled">Ultimate</a>
      <a href="/endurrun/relay" class="btn btn-sm btn-default">Relay</a>
      <a href="/endurrun/battles" class="btn btn-sm btn-default">Battles</a>
  </div>

{% if showgenders %}
  <div class="btn-group">
    {% if gender == 'FM' %}
      {% if year %}
        <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
        <a href="/endurrun/ultimate/?year={{ year }}&gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="/endurrun/ultimate/?year={{ year }}&gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
      {% else %}
        <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
        <a href="/endurrun/ultimate/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="/endurrun/ultimate/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
      {% endif %}
    {% endif %}
    {% if gender == 'F' %}
      {% if year %}
        <a href="/endurrun/ultimate/?year={{ year }}" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
        <a href="/endurrun/ultimate/?year={{ year }}&gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
      {% else %}
        <a href="/endurrun/ultimate/" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
        <a href="/endurrun/ultimate/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
      {% endif %}
    {% endif %}
    {% if gender == 'M' %}
      {% if year %}
        <a href="/endurrun/ultimate/?year={{ year }}" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="/endurrun/ultimate/?year={{ year}}&gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
      {% else %}
        <a href="/endurrun/ultimate/" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="/endurrun/ultimate/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
      {% endif %}
    {% endif %}
  </div>
{% endif %}

  <div class="btn-group">
    {% if year %}
      <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">{{ year }} <span class="caret"></span></a>
    {% else %}
      <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">All Years <span class="caret"></span></a>
    {% endif %}
    <ul class="dropdown-menu">
      {% if year %}
        <li><a href="/endurrun/ultimate/">All Years</a></li>
      {% endif %}
      {% for y in years %}
        {% if y != year %}
          <li><a href="/endurrun/ultimate/?year={{ y }}">{{ y }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>

<p></p>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th class="text-center">#</th>
    <th>Athlete</th>
    <th class="text-center">Year</th>
    <th class="text-center">Stages</th>
    <th class="text-center">Time</th>
    <th class="text-center">Pace</th>
  </tr>
  {% for r in results %}
    <tr>
      <td class="text-center">{{ forloop.counter }}</td>
      <td>
        <a href="#" class="btn btn-{{ r.colourclass }} btn-sm disabled"></a> <a href="/endurrun/athlete/{{ r.year }}/{{ r.athlete.slug }}">{{ r.athlete.name }}</a>
      </td>
      <td class="text-center"> {{ r.year }}</td>
      <td class="text-center"> {{ r.stages }}</td>
      <td class="text-center">{{ r.total_time }}</td>
      <td class="text-center">{{ r.pace }}</td>
    </tr>
  {% endfor %}
</table>
</div>
{% endblock content %}
