{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{{ years.0 }} {{ teams.0.0.name }} vs {{ years.1 }} {{ teams.1.0.name }} | ENDURrun Team Battle | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>ENDURrun Team Battle</h3>
<h5><a href="#" class="btn btn-{{ endurbattle_colour_class1 }} btn-sm disabled"></a> {{ years.0 }} {{ teams.0.0.name }} vs <a href="#" class="btn btn-{{ endurbattle_colour_class2 }} btn-sm disabled"></a> {{ years.1 }} {{ teams.1.0.name }}</h5>

<p></p>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th>Stage</th>
    <th><a href="#" class="btn btn-{{ endurbattle_colour_class1 }} btn-sm disabled"></a> Athlete</th>
    <th class="text-center">Time</th>
    <th><a href="#" class="btn btn-{{ endurbattle_colour_class2 }} btn-sm disabled"></a> Athlete</th>
    <th class="text-center">Time</th>
    <th class="text-center">Stage Gap</th>
    <th class="text-center">Total Gap</th>

  </tr>

  {% for r in results %}
    <tr>
      <td>{{ r.stage }} - {{ r.distance.name }}</td>
      {% if r.athlete1 %}
        {% if r.athlete1.isguest %}
          <td> {{ r.athlete1.name }}</td>
        {% else %}
          <td> <a href="/athlete/{{ r.athlete1.slug }}">{{ r.athlete1.name }}</a>
        {% if r.athlete1rank %}
          ({{ r.athlete1rank }})
        {% endif %}
          </td>
        {% endif %}
      {% else %}
      <td></td>
      {% endif %}
      {% if r.guntime1 %}
      <td class="text-center"><a href="/results/{{ r.event1.date.year }}/{{ r.event1.race.slug }}/{{ r.event1.distance.slug }}">{{ r.guntime1 }}</a></td>
      {% else %}
      <td></td>
      {% endif %}
      {% if r.athlete2 %}
        {% if r.athlete2.isguest %}
          <td> {{ r.athlete2.name }}</td>
        {% else %}
          <td> <a href="/athlete/{{ r.athlete2.slug }}">{{ r.athlete2.name }}</a>
        {% if r.athlete2rank %}
          ({{ r.athlete2rank }})
        {% endif %}
          </td>
        {% endif %}
      {% else %}
      <td></td>
      {% endif %}
      {% if r.guntime2 %}
      <td class="text-center"><a href="/results/{{ r.event2.date.year }}/{{ r.event2.race.slug }}/{{ r.event2.distance.slug }}">{{ r.guntime2 }}</a></td>
      {% else %}
      <td></td>
      {% endif %}
      {% if r.stage_gap != False %}
      <td class="text-center"><a href="#" class="btn btn-{{ r.stage_gap_colour_class }} btn-sm disabled"></a> {{ r.stage_gap }}</td>
      {% else %}
      <td></td>
      {% endif %}
      {% if r.stage_total_gap != False %}
      <td class="text-center"><a href="#" class="btn btn-{{ r.stage_total_gap_colour_class }} btn-sm disabled"></a> {{ r.stage_total_gap }}</td>
      {% else %}
      <td></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
</div>
{% endblock content %}
