{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{{ athlete.name }} | {{ year }} ENDURrun | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3><a href="#" class="btn btn-{{ gender_colour_class }} btn-sm disabled"></a> {{ athlete.name }} - {{ year }} ENDURrun</h3>

<p></p>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th class="text-center" title="5K Equivalent Time">~5K</th>
    <th>Stage</th>
    <th class="text-center">Time</th>
    <th class="text-center" title="min/km">Pace</th>
    <th class="text-center" title="Race Place">RP</th>
    <th class="text-center" title="Gender Place">GP</th>
    <th class="text-center" title="Category Place">CP</th>
    <th>Category</th>
  </tr>

  {% for r in results %}
    <tr>
      <td class="text-center">{{ r.fivek_equiv }}</td>
      <td><a href="/results/{{ r.event.date.year }}/{{ r.event.race.slug }}/{{ r.event.distance.slug }}/">{{ r.stage }} - {{ r.event.distance.name }}</a></td>
      <td class="text-center"> {{ r.guntime }}</td>
      <td class="text-center"> {{ r.pace }}</td>
      <td class="text-center">{{ r.place }}</td>
      <td class="text-center">{{ r.gender_place }}</td>
      <td class="text-center">{{ r.category_place }}</td>
      <td>{{ r.category }}</td>
    </tr>
  {% endfor %}
</table>
</div>
{% endblock content %}
