{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{{ year }} {{ team1_name }} vs {{ team2_name }} | ENDURrun Super Battle | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>{{ year }} ENDURrun Team Super Battle</h3>
<h5><a href="#" class="btn btn-{{ endurbattle_colour_class1 }} btn-sm disabled"></a> {{ team1_name }} vs <a href="#" class="btn btn-{{ endurbattle_colour_class2 }} btn-sm disabled"></a> {{ team2_name }}</h5>

<p></p>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th>Stage</th>
    <th><a href="#" class="btn btn-{{ endurbattle_colour_class1 }} btn-sm disabled"></a> Athletes</th>
    <th class="text-center">Times</th>
    <th><a href="#" class="btn btn-{{ endurbattle_colour_class2 }} btn-sm disabled"></a> Athletes</th>
    <th class="text-center">Times</th>
    <th class="text-center">Stage Gap</th>
    <th class="text-center">Total Gap</th>

  </tr>

  {% for r in results %}
    <tr>
      <td><a href="/results/{{ year }}/endurrun/{{ r.distance.slug }}/">{{ r.stage }} - {{ r.distance.name }}</a></td>
      <td>
      {% for a in r.athletes1 %}
        {% if a.athlete.isguest %}
          {{ a.athlete.name }}
        {% else %}
          <a href="/athlete/{{ a.athlete.slug }}">{{ a.athlete.name }}</a>
          {% if a.ranking %}
            ({{ a.ranking.rank }})
          {% endif %}
      {% endif %}
      <br>
      {% endfor %}
      </td>
      <td class="text-center">
      {% for a in r.athletes1 %}
          {% if a.chiptime %}
            {{ a.chiptime }}
          {% endif %}
          <br>
      {% endfor %}
      </td>
      <td>
      {% for a in r.athletes2 %}
        {% if a.athlete.isguest %}
          {{ a.athlete.name }}
        {% else %}
          <a href="/athlete/{{ a.athlete.slug }}">{{ a.athlete.name }}</a>
          {% if a.ranking %}
            ({{ a.ranking.rank }})
          {% endif %}
      {% endif %}
      <br>
      {% endfor %}
      </td>
      <td class="text-center">
      {% for a in r.athletes2 %}
          {% if a.chiptime %}
            {{ a.chiptime }}
          {% endif %}
          <br>
      {% endfor %}
      </td>
      {% if r.gap != False %}
      <td class="text-center"><a href="#" class="btn btn-{{ r.gap_colour_class }} btn-sm disabled"></a> {{ r.gap }}</td>
      {% else %}
      <td></td>
      {% endif %}
      {% if r.total_gap != False %}
      <td class="text-center"><a href="#" class="btn btn-{{ r.total_gap_colour_class }} btn-sm disabled"></a> {{ r.total_gap }}</td>
      {% else %}
      <td></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
</div>
{% endblock content %}
