{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{{ team.name }} | {{ year }} ENDURrun | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>{{ team.name }} - {{ year }} ENDURrun</h3>

<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th class="text-center" title="5K Equivalent Time">~5K</th>
    <th>Stage</th>
    <th>Athlete</th>
    <th class="text-center">Time</th>
    <th class="text-center" title="min/km">Pace</th>
    <th class="text-center" title="Race Place">RP</th>
    <th class="text-center" title="Gender Place">GP</th>
    <th class="text-center" title="Category Place">CP</th>
    <th>Category</th>
  </tr>
  {% for r in results %}
    <tr>
      <td class="text-center">{{ r.fivek_equiv }}</td>
      {% if r.event %}
        <td><a href="/results/{{ r.event.date.year }}/{{ r.event.race.slug }}/{{ r.event.distance.slug }}/">{{ r.stage }} - {{ r.distance.name }}</a></td>
      {% else %}
        <td>{{ r.stage }} - {{ r.distance.name }}</td>
      {% endif %}
      {% if r.athlete.isguest %}
        <td><a href="#" class="btn btn-{{ r.colour_class }} btn-sm disabled"></a> {{ r.athlete.name }}</td>
      {% else %}
        <td><a href="#" class="btn btn-{{ r.colour_class }} btn-sm disabled"></a> <a href="/athlete/{{ r.athlete.slug }}/">{{ r.athlete.name }}</a></td>
      {% endif %}
      <td class="text-center"> {{ r.guntime }}</td>
      <td class="text-center"> {{ r.pace }}</td>
      <td class="text-center">{{ r.place }}</td>
      <td class="text-center">{{ r.gender_place }}</td>
      <td class="text-center">{{ r.category_place }}</td>
      <td>{{ r.category }}</td>
    </tr>
  {% endfor %}
</table>
</div>
{% endblock content %}
