{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{% if year %}
  {{ year }}
{% endif %}
ENDURrun Relay | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>
{% if year %}
  {{ year }}
{% endif %}
  ENDURrun Relay
</h3>
<div class="btn-toolbar">

  <div class="btn-group">
      <a href="/endurrun/ultimate" class="btn btn-sm btn-default">Ultimate</a>
      <a href="#" class="btn btn-default btn-sm disabled">Relay</a>
      <a href="/endurrun/battles" class="btn btn-sm btn-default">Battles</a>
  </div>

  <div class="btn-group">
    {% if year %}
      <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">{{ year }} <span class="caret"></span></a>
    {% else %}
      <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">All Years <span class="caret"></span></a>
    {% endif %}
    <ul class="dropdown-menu">
      {% if year %}
        <li><a href="/endurrun/relay/">All Years</a></li>
      {% endif %}
      {% for y in years %}
        {% if y != year %}
          <li><a href="/endurrun/relay/?year={{ y }}">{{ y }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>

<p></p>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th class="text-center">#</th>
    <th>Team</th>
    <th class="text-center">Year</th>
    <th class="text-center">Stages</th>
    <th class="text-center">Time</th>
    <th class="text-center">Pace</th>
    <th class="text-center">Place Gap</th>
    <th class="text-center">Lead Gap</th>
  </tr>
  {% for r in results %}
    <tr>
      {% ifchanged r.total_time %}
      <td class="text-center">{{ forloop.counter }}</td>
      {% else %}
      <td></td>
      {% endifchanged %}
      <td><a href="/endurrun/team/{{ r.year }}/{{ r.endurteam.slug }}">{{ r.endurteam.name }}</a></td>
      <td class="text-center"> {{ r.year }}</td>
      <td class="text-center"> {{ r.stages }}</td>
      <td class="text-center">{{ r.total_time }}</td>
      <td class="text-center">{{ r.pace }}</td>
      <td class="text-center">{{ r.placegap }}</td>
      <td class="text-center">{{ r.leadgap }}</td>
    </tr>
  {% endfor %}
</table>
</div>
{% endblock content %}
