{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{% if year %}
{{ year }}
{% endif %}
ENDURrun Battles | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>
{% if year %}
{{ year }}
{% endif %}
ENDURrun Battles
</h3>
<div class="btn-toolbar">

  <div class="btn-group">
      <a href="/endurrun/ultimate" class="btn btn-sm btn-default">Ultimate</a>
      <a href="/endurrun/relay" class="btn btn-sm btn-default">Relay</a>
      <a href="#" class="btn btn-default btn-sm disabled">Battles</a>
  </div>

  <div class="btn-group">
    {% if year %}
      <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">{{ year }} <span class="caret"></span></a>
    {% else %}
      <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">All Years <span class="caret"></span></a>
    {% endif %}
    <ul class="dropdown-menu">
      {% if year %}
        <li><a href="/endurrun/battles/">All Years</a></li>
      {% endif %}
      {% for y in years %}
        {% if y != year %}
          <li><a href="/endurrun/battles/?year={{ y }}">{{ y }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>

{% for y in years %}
  {% if y == year or not year %}
  {% if not year %}
  <h4>{{ y }}</h4>
  {% else %}
  <p></p>
  {% endif %}
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 table-responsive">
      <table class="table table-bordered">
          {% if y == year or not year %}
            <tr>
              <th>Relay Team</th>
            </tr>
          {% endif %}
        {% for s in super_battles %}
          {% if s.battle_year == y %}
            <tr>
              <td><a href="/endurrun/superbattle/{{ s.battle_year }}/{{ s.team1_slug }}/{{ s.team2_slug }}/">{{ s.battle_year}} {{ s.team1_name }} vs {{ s.team2_name }}</a></td>
            </tr>
          {% endif %}
        {% endfor %}
        {% for t in team_battles %}
          {% if t.battle_year == y %}
            <tr>
              <td><a href="/endurrun/battle/team/{{ t.team1.year }}/{{ t.team1.slug }}/{{ t.team2.year }}/{{ t.team2.slug }}">{{ t.team1.year }} {{ t.team1.name }} vs {{ t.team2.year }} {{ t.team2.name }}</a></td>
            </tr>
          {% endif %}
        {% endfor %}

      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 table-responsive">
      <table class="table table-bordered">
          {% if y == year or not year %}
            <tr>
              <th>Individual Ultimate</th>
            </tr>
          {% endif %}
        {% for a in athlete_battles %}
          {% if a.battle_year == y %}
            <tr>
              <td><a href="/endurrun/battle/athlete/{{ a.athlete1_year }}/{{ a.athlete1.slug }}/{{ a.athlete2_year }}/{{ a.athlete2.slug }}">{{ a.athlete1_year }} {{ a.athlete1.name }} vs {{ a.athlete2_year }} {{ a.athlete2.name }}</a></td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
{% endif %}
{% endfor %}

{% endblock content %}
