{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
  Favourite Races | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
  <h3>Favourite Races</h3>
  <p>Races that have had the most total H+P athletes in the past {{ years }} years, combined over all distances.</p>
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <tr>
        <th class="text-center">#</th>
        <th class="text-center" title="Total number of athletes.">Total</th>
        <th>Race</th>
        <th>City</th>
      </tr>
      {% for r in races %}
        <tr>
          <td class="text-center">{{ forloop.counter }}</td>
          <td class="text-center">{{ r.total }}</td>
          <td><a href="/search/?q={{ r.race }}">{{ r.race }}</a></td>
          <td>{{ r.city }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock content %}
