{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<br>
<img class="img-rounded img-responsive" src="{% static 'hpwr_header.png' %}" alt="H+P World Ranking">
<p></p>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <a href="/ranking">
      <img width="100%" class="img-rounded img-responsive" src="{% static 'current_ranking_top_5.png' %}" alt="Current Ranking Top 5">
    </a>
    <div class="panel panel-default">

      <!-- make sure to change both of these -->
      <!-- for xs: less table padding, don't show rank numbers -->
      <table class="visible-xs table table-very-condensed table-bordered">
        {% for i in top5 %}
          <tr>
            <td>
              <a href="#" class="btn btn-{{ i.female_athlete.gender_colour_class }} btn-sm disabled"></a>
              <a href="/athlete/{{ i.female_athlete.athlete.slug}}">{{ i.female_athlete.athlete.name }}</a>
            </td>
            <td>{{ i.female_athlete.atime }}</td>
            <td>
              <a href="#" class="btn btn-{{ i.male_athlete.gender_colour_class }} btn-sm disabled"></a>
              <a href="/athlete/{{ i.male_athlete.athlete.slug}}">{{ i.male_athlete.athlete.name }}</a>
            </td>
            <td>{{ i.male_athlete.atime }}</td>
          </tr>
        {% endfor %}
      </table>
      <!-- for non xs normal (condensed) table padding, show rank numbers-->
      <table class="hidden-xs table table-condensed table-bordered">
        {% for i in top5 %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="#" class="btn btn-{{ i.female_athlete.gender_colour_class }} btn-sm disabled"></a>
              <a href="/athlete/{{ i.female_athlete.athlete.slug}}">{{ i.female_athlete.athlete.name }}</a>
            </td>
            <td>{{ i.female_athlete.atime }}</td>
            <td>
              <a href="#" class="btn btn-{{ i.male_athlete.gender_colour_class }} btn-sm disabled"></a>
              <a href="/athlete/{{ i.male_athlete.athlete.slug}}">{{ i.male_athlete.athlete.name }}</a>
            </td>
            <td>{{ i.male_athlete.atime }}</td>
          </tr>
        {% endfor %}
      </table>

    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <a href="/career-bests/">
      <img width="100%" class="img-rounded img-responsive" src="{% static 'recent_career_bests.png' %}" alt="Recent Career Bests">
    </a>
    <div class="panel panel-default">
      <table class="table table-condensed table-bordered">
        {% for i in recent_pbs %}
          <tr>
            <td class="text-center">{{ i.result.event.date|date:"M d" }}</td>
            {% if i.result.athlete.gender == 'F' %}
              <td>
                <a href="#" class="btn btn-{{ female_colour_class }} btn-sm disabled"></a>
                <a href="/athlete/{{ i.result.athlete.slug }}">{{ i.result.athlete.name }}</a>
              </td>
            {% else %}
              <td>
                <a href="#" class="btn btn-{{ male_colour_class }} btn-sm disabled"></a>
                <a href="/athlete/{{ i.result.athlete.slug }}">{{ i.result.athlete.name }}</a>
              </td>
            {% endif %}
            <td class="text-center" title="{{ i.result.event.date.year }} {{ i.result.event.race.shortname }} {{ i.result.event.distance.name }}">
              <a href="/results/{{ i.result.event.date.year }}/{{ i.result.event.race.slug }}/{{ i.result.event.distance.slug }}">{{ i.result.event.distance.abbr }}</a>
            </td>
            <td class="text-center">{{ i.trunc_time }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <a href="/races">
      <img width="100%" class="img-rounded img-responsive" src="{% static 'recent_races.png' %}" alt="Recent Races">
    </a>
    <div class="panel panel-default">
      <table class="table table-condensed table-bordered">
        {% for i in recent_races %}
          <tr>
            <td class="text-center">{{ i.events.0.date|date:"M d" }}</td>
            <td>{{ i.events.0.race.name }}</td>
            <td>
              {% for j in i.events %}
                {% if forloop.counter != 1 %}
                  | 
                {% endif %}
                <a href="/results/{{ j.date.year }}/{{ j.race.slug }}/{{ j.distance.slug }}">{{ j.distance.abbr }}</a>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <a href="/races/?dates=Future">
      <img width="100%" class="img-rounded img-responsive" src="{% static  'upcoming_races.png' %}" alt="Upcoming Races">
    </a>
    <div class="panel panel-default">
      <table class="table table-condensed table-bordered">
        {% for i in upcoming_races %}
          <tr>
            <td class="text-center">{{ i.events.0.date|date:"M d" }}</td>
            <td>{{ i.events.0.race.name }}</td>
            <td>
              {% for j in i.events %}
                {% if forloop.counter != 1 %}
                  | 
                {% endif %}
                {{ j.distance.abbr }}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <a href="/ranking/?date=all-time">
      <img width="100%" class="img-rounded img-responsive" src="{% static 'all-time_ranking_top_5.png' %}" alt="All-Time Ranking Top 5">
    </a>
    <div class="panel panel-default">
      <!-- make sure to change both of these -->
      <!-- for xs: less table padding, don't show rank numbers -->
      <table class="visible-xs table table-very-condensed table-bordered">
        {% for i in top5alltime %}
          <tr>
            <td>
              <a href="#" class="btn btn-{{ i.female_athlete.gender_colour_class }} btn-sm disabled"></a>
              <a href="/athlete/{{ i.female_athlete.athlete.slug}}">{{ i.female_athlete.athlete.name }}</a>
            </td>
            <td>{{ i.female_athlete.atime }}</td>
            <td>
              <a href="#" class="btn btn-{{ i.male_athlete.gender_colour_class }} btn-sm disabled"></a>
              <a href="/athlete/{{ i.male_athlete.athlete.slug}}">{{ i.male_athlete.athlete.name }}</a>
            </td>
            <td>{{ i.male_athlete.atime }}</td>
          </tr>
        {% endfor %}
      </table>
      <!-- for non xs normal (condensed) table padding, show rank numbers-->
      <table class="hidden-xs table table-condensed table-bordered">
        {% for i in top5alltime %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="#" class="btn btn-{{ i.female_athlete.gender_colour_class }} btn-sm disabled"></a>
              <a href="/athlete/{{ i.female_athlete.athlete.slug}}">{{ i.female_athlete.athlete.name }}</a>
            </td>
            <td>{{ i.female_athlete.atime }}</td>
            <td>
              <a href="#" class="btn btn-{{ i.male_athlete.gender_colour_class }} btn-sm disabled"></a>
              <a href="/athlete/{{ i.male_athlete.athlete.slug}}">{{ i.male_athlete.athlete.name }}</a>
            </td>
            <td>{{ i.male_athlete.atime }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <a href="/quad">
      <img width="100%" class="img-rounded img-responsive" src="{% static 'quad.png' %}" alt="Quadruple Threat">
    </a>
    <div class="panel panel-default">
      <!-- make sure to change both of these -->
      <!-- for xs: less table padding, don't show rank numbers -->
      <table class="visible-xs table table-very-condensed table-bordered">
        {% for i in quad_top5 %}
          <tr>
            <td>
              <a href="#" class="btn btn-{{ i.female_athlete.colour_class }} btn-sm disabled"></a>
              <a href="/athlete/{{ i.female_athlete.athlete.slug}}">{{ i.female_athlete.athlete.name }}</a>
            </td>
            <td>{{ i.female_athlete.fivek_equivstr }}</td>
            <td>
              <a href="#" class="btn btn-{{ i.male_athlete.colour_class }} btn-sm disabled"></a>
              <a href="/athlete/{{ i.male_athlete.athlete.slug}}">{{ i.male_athlete.athlete.name }}</a>
            </td>
            <td>{{ i.male_athlete.fivek_equivstr }}</td>
          </tr>
        {% endfor %}
      </table>
      <!-- for non xs normal (condensed) table padding, show rank numbers-->
      <table class="hidden-xs table table-condensed table-bordered">
        {% for i in quad_top5 %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="#" class="btn btn-{{ i.female_athlete.colour_class }} btn-sm disabled"></a>
              <a href="/athlete/{{ i.female_athlete.athlete.slug}}">{{ i.female_athlete.athlete.name }}</a>
            </td>
            <td>{{ i.female_athlete.fivek_equivstr }}</td>
            <td>
              <a href="#" class="btn btn-{{ i.male_athlete.colour_class }} btn-sm disabled"></a>
              <a href="/athlete/{{ i.male_athlete.athlete.slug}}">{{ i.male_athlete.athlete.name }}</a>
            </td>
            <td>{{ i.male_athlete.fivek_equivstr }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}
