{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% load boltapp_extras %}

{% block title %}
Multisport Results | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<div class="row">
  <div class="table-responsive col">
    <h3>Multisport Results</h3>
    {% if 'event' in qstring %}
      <h4>{{ results.0.race }}</h4>
      <a target=_blank href="{{ resultsurl }}" class="btn btn-sm btn-default pull-right">Full Results</a>
      <h5>Type: {{ results.0.event_type }}</h5>
      <h5>Distance: {{ results.0.distance }}</h5>
      <h5>Date: {{ results.0.date }}</h5>
    {% endif %}
    {% if 'athlete' in qstring %}
      <h4>{{ results.0.athlete.name }}</h4>
    {% endif %}
    <table class="table table-bordered table-hover">
      <tr>
        {% if 'event' not in qstring %}
          <th>Race</th>
          <th>Distance</th>
        {% endif %}
        {% if 'athlete' not in qstring %}
          <th>Athlete</th>
        {% endif %}
        {% if show_bike_types %}
          <th>Bike Type</th>
        {% endif %}
        <th class="text-right">Time</th>
        {% if dist_for_speed %}
          <th class="text-right">km/h</th>
        {% endif %}
        <th class="text-right">Overall</th>
        <th class="text-right">OScore</th>
        <th class="text-right">Gender</th>
        <th class="text-right">GScore</th>
        {% if 'event' not in  qstring %}
          <th class="text-center">FR</th>
        {% endif %}
      </tr>
      {% for r in results %}
        <tr>
          {% if 'event' not in qstring %}
            <td><a href="/multisport/results/?event={{ r.event_slug }}">{{ r.date.year }} {{ r.race }}</a></td>
            <td>{{ r.distance }}</td>
          {% endif %}
          {% if 'athlete' not in qstring %}
            <td>
              <a href="#" class="btn 
              {% if r.athlete.gender == 'F' %}
                btn-{{ female_colour_class }} 
              {% else %}
                btn-{{ male_colour_class }} 
              {% endif %}
              btn-sm disabled wrapper"><span class="glyphicon glyphicon-{{ result.glyph }} glyphicon-mark" aria-hidden="true"></span></a>
              <a href="/multisport/results/?athlete={{ r.athlete.slug }}">{{ r.athlete.name }}</a>
            </td>
          {% endif %}
          {% if show_bike_types %}
            <td>{{ r.bike_type }}</td>
          {% endif %}
          <td class="text-right">{{ r.time|get_time }}</td>
          {% if dist_for_speed %}
            <td class="text-right">{{ r.time|get_speed:dist_for_speed|floatformat:2 }}</td>
          {% endif %}
          <td class="text-right">{{ r.place }}/{{ r.finishers }}</td>
          <td class="text-right">{{ r.os|floatformat:2 }}</td>
          <td class="text-right">{{ r.gender_place }}/{{ r.gender_finishers }}</td>
          <td class="text-right">{{ r.gs|floatformat:2 }}</td>
          {% if 'event' not in qstring %}
            <td class="text-center">
              <a href="{{ r.resultsurl }}" target="_blank">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true">
                </span>
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
