{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Multisport Ranking | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
  <div class="row">
    <div class="table-responsive col">
      <h3>
        {% if 'date' in qstring %}
          All-Time
        {% else %}
          Current
        {% endif %}
        Multisport Ranking
      </h3>

  <div class="btn-toolbar">
    <!-- Current / All-Time filter -->
    <div class="btn-group">
      {% if 'date' in qstring %}
        {% if 'gender' in qstring %}
          <a href="/multisport/ranking/?gender={{ qstring.gender.0 }}" class="btn btn-sm btn-default">Current</a>
          <a href="#" class="btn btn-default btn-sm disabled">All-Time</a>
        {% else %}
          <a href="/multisport/ranking/" class="btn btn-sm btn-default">Current</a>
          <a href="#" class="btn btn-default btn-sm disabled">All-Time</a>
        {% endif %}
      {% else %}
        {% if 'gender' in qstring %}
          <a href="#" class="btn btn-default btn-sm disabled">Current</a>
          <a href="/multisport/ranking/?date=all&gender={{ qstring.gender.0 }}" class="btn btn-sm btn-default">All-Time</a>
        {% else %}
          <a href="#" class="btn btn-default btn-sm disabled">Current</a>
          <a href="/multisport/ranking/?date=all" class="btn btn-sm btn-default">All-Time</a>
        {% endif %}
      {% endif %}
    </div>
    <!-- Gender filter -->
    <div class="btn-group">
      {% if 'gender' in qstring %}
        {% if 'date' in qstring %}
          {% if qstring.gender.0 == 'F' %}
            <a href="/multisport/ranking/?date={{ qstring.date.0 }}" class="btn btn-default btn-sm">&nbsp;</a>
            <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
            <a href="/multisport/ranking/?date={{ qstring.date.0 }}&gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
          {% else %}
            <a href="/multisport/ranking/?date={{ qstring.date.0 }}" class="btn btn-default btn-sm">&nbsp;</a>
            <a href="/multisport/ranking/?date={{ qstring.date.0 }}&gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
            <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
          {% endif %}
        {% else %}
          {% if qstring.gender.0 == 'F' %}
            <a href="/multisport/ranking/" class="btn btn-default btn-sm">&nbsp;</a>
            <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
            <a href="/multisport/ranking/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
          {% else %}
            <a href="/multisport/ranking/" class="btn btn-default btn-sm">&nbsp;</a>
            <a href="/multisport/ranking/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
            <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
          {% endif %} 
        {% endif %}
      {% else %}
        {% if 'date' in qstring %}
          <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
          <a href="/multisport/ranking/?date={{ qstring.date.0 }}&gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
          <a href="/multisport/ranking/?date={{ qstring.date.0 }}&gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
        {% else %}
          <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
          <a href="/multisport/ranking/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
          <a href="/multisport/ranking/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
        {% endif %}
      {% endif %}
    </div>
  </div>

      <p></p>
      <table class="table table-bordered table-hover">
        <tr>
          <th class="text-center">Rank</th>
          <th>Athlete</th>
          <th class="text-center">Overall Score</th>
          <th class="text-center">Gender Score</th>
        </tr>
        {% for r in ranking %}
          <tr>
            <td class="text-center">{{ forloop.counter }}</td>
            <td>
              <a href="#" class="btn
              {% if r.athlete.gender == 'F' %}
                btn-{{ female_colour_class }}
              {% else %}
                btn-{{ male_colour_class }}
              {% endif %}
              btn-sm disabled wrapper"><span class="glyphicon glyphicon-{{ result.glyph }} glyphicon-mark" aria-hidden="true"></span></a>
              <a href="/multisport/results/?athlete={{ r.athlete.slug }}">{{ r.athlete.name }}</a>
            </td>
            <td class="text-center" title="{{ r.omouseover }}">{{ r.oscore|floatformat:2 }}</td>
            <td class="text-center" title="{{ r.gmouseover }}">{{ r.gscore|floatformat:2 }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}
