{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Multisport Events | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<div class="row">
  <div class="table-responsive col">
    <h3>Multisport Events</h3>
    <table class="table table-bordered table-hover">
      <tr>
        <th>Date</th>
        <th>Race</th>
        <th>Distance</th>
        <th>Type</th>
        <th class="text-center" title="Full Results">FR</th>
      </tr>
      {% for e in events %}
        <tr>
          <td>{{ e.date }}</td>
          <td>
            <a href="/multisport/results/?event={{ e.event_slug }}">
              {{ e.race }}
            </a>
          </td>
          <td>{{ e.distance }}</td>
          <td>{{ e.event_type }}</td>
          <td class="text-center">
            <a href="{{ e.resultsurl }}" target="_blank">
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true">
              </span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
