{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
H+P PB Ranking - {{ distance.name }} | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
  <h3>H+P PB Ranking - {{ distance.name }}</h3>
<div class="btn-toolbar">

<div class="btn-group">
  <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">{{ distance.name }} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  {% for dist in distances %}
    {% if dist != distance %}
      {% if gender == 'FM' %}
        {% if qsage == 'any-age' %}
          <li><a href="/pbranking/{{ dist.slug }}">{{ dist.name }}</a></li>
        {% else %}
          <li><a href="/pbranking/{{ dist.slug }}/?age={{ qsage }}">{{ dist.name }}</a></li>
        {% endif %}
      {% else %}
        {% if qsage == 'any-age' %} 
          <li><a href="/pbranking/{{ dist.slug }}/?gender={{ gender }}">{{ dist.name }}</a></li>
        {% else %}
          <li><a href="/pbranking/{{ dist.slug }}/?age={{ qsage }}&gender={{ gender }}">{{ dist.name }}</a></li>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="btn-group">
  {% if gender == 'FM' %}
    {% if qsage == 'any-age' %}
      <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
      <a href="/pbranking/{{ distance.slug }}/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
      <a href="/pbranking/{{ distance.slug }}/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
    {% else %}
      <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
      <a href="/pbranking/{{ distance.slug }}/?age={{ qsage }}&gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
      <a href="/pbranking/{{ distance.slug }}/?age={{ qsage }}&gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
    {% endif %}
  {% endif %}
  {% if gender == 'F' %}
    {% if qsage == 'any-age' %}
      <a href="/pbranking/{{ distance.slug }}" class="btn btn-default btn-sm">&nbsp;</a>
      <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
      <a href="/pbranking/{{ distance.slug }}/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
    {% else %}
      <a href="/pbranking/{{ distance.slug }}/?age={{ qsage }}" class="btn btn-default btn-sm">&nbsp;</a>
      <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
      <a href="/pbranking/{{ distance.slug }}/?age={{ qsage }}&gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
    {% endif %}
  {% endif %}
  {% if gender == 'M' %}
    {% if qsage == 'any-age' %}
      <a href="/pbranking/{{ distance.slug }}" class="btn btn-default btn-sm">&nbsp;</a>
      <a href="/pbranking/{{ distance.slug }}/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
      <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
    {% else %}
      <a href="/pbranking/{{ distance.slug }}/?age={{ qsage }}" class="btn btn-default btn-sm">&nbsp;</a>
      <a href="/pbranking/{{ distance.slug }}/?age={{ qsage }}&gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
      <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
    {% endif %}
  {% endif %}
</div>

  <!-- Age Filter -->
  <div class="btn-group">
    <a href="#" class="btn btn-{{ age_filter.btn_class }} btn-sm dropdown-toggle" data-toggle="dropdown">{{ age_filter.current_value }} <span class="caret"></span></a>
    <ul class="dropdown-menu">
      {% for item in age_filter.items %}
        <li><a href="{{ item.url }}">{{ item.value }}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>

  <p></p>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <tr>
        <th class="text-center">#</th>
        <th>Athlete</th>
        <th class="text-center">Time</th>
        <th class="text-center">Pace</th>
        <th>Race</th>
      </tr>
      {% for result in results %}
        <tr>
          <td class="text-center">{{ forloop.counter }}</td>
          <td>
            <a href="#" class="btn btn-{{ result.colour_class }} btn-sm disabled"></a>
            <a href="/athlete/{{ result.result.athlete.slug }}">{{ result.result.athlete.name }}</a>
          </td>
          <td class="text-center"> {{ result.pbtime }}</td>
          <td class="text-center">{{ result.pace }}</td>
          <td><a href="/results/{{ result.result.event.date.year }}/{{ result.result.event.race.slug }}/{{ result.result.event.distance.slug }}">{{ result.result.event.date.year }} {{ result.result.event.race.name }}</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div>
  Note: This page only includes current H+P members, and only results achieved since joining the club.
  </div>
{% endblock content %}
