{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Quadruple Threat | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
  <h3>Quadruple Threat</h3>
<div class="btn-toolbar">

<div class="btn-group">
  {% if gender == 'FM' %}
      <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
      <a href="/quad/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
      <a href="/quad/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
  {% endif %}
  {% if gender == 'F' %}
      <a href="/quad/" class="btn btn-default btn-sm">&nbsp;</a>
      <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
      <a href="/quad/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
  {% endif %}
  {% if gender == 'M' %}
      <a href="/quad/" class="btn btn-default btn-sm">&nbsp;</a>
      <a href="/quad/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
      <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
  {% endif %}
</div>

</div>

  <p></p>
<div class="row">
  <div class="table-responsive col-xs-12 col-sm-12 col-md-10 col-lg-8">
    <table class="table table-bordered table-hover">
      <tr>
        <th class="text-center">#</th>
        <th>Athlete</th>
        <th class="text-center" title="Average 5K Equivalent Time">Time</th>
        <th class="text-center" title="5K PB">5K</th>
        <th class="text-center" title="5K Equivalent Time for 10K PB">~10K</th>
        <th class="text-center" title="5K Equivalent Time for Half Marathon PB">~Half</th>
        <th class="text-center" title="5K Equivalent Time for Marathon PB">~Full</th>
      </tr>
      {% for result in results %}
        <tr>
          <td class="text-center">{{ forloop.counter }}</td>
          <td>
            <a href="#" class="btn btn-{{ result.colour_class }} btn-sm disabled"></a>
            <a href="/athlete/{{ result.athlete.slug }}">{{ result.athlete.name }}</a>
          </td>
          <td class="text-center">{{ result.fivek_equivstr }}</td>
          <td class="text-center" title="{{ result.fivek.event.date.year }} {{ result.fivek.event.race.shortname }} {{ result.fivek.event.distance.name }}"><a href="/results/{{ result.fivek.event.date.year}}/{{ result.fivek.event.race.slug }}/{{ result.fivek.event.distance.slug }}/">{{ result.fivekstr }}</a></td>
          <td class="text-center" title="{{ result.tenkstr }} - {{ result.tenk.event.date.year }} {{ result.tenk.event.race.shortname }} {{ result.tenk.event.distance.name }}"><a href="/results/{{ result.tenk.event.date.year}}/{{ result.tenk.event.race.slug }}/{{ result.tenk.event.distance.slug }}/">{{ result.tenk_fivek_equiv }}</a></td>
          <td class="text-center" title="{{ result.halfstr }} - {{ result.half.event.date.year }} {{ result.half.event.race.shortname }} {{ result.half.event.distance.name }}"><a href="/results/{{ result.half.event.date.year}}/{{ result.half.event.race.slug }}/{{ result.half.event.distance.slug }}/">{{ result.half_fivek_equiv }}</a></td>
          <td class="text-center" title="{{ result.fullstr }} - {{ result.full.event.date.year }} {{ result.full.event.race.shortname }} {{ result.full.event.distance.name }}"><a href="/results/{{ result.full.event.date.year}}/{{ result.full.event.race.slug }}/{{ result.full.event.distance.slug }}/">{{ result.full_fivek_equiv }}</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
