{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
  {{ dates }} Races | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
  <h3>{{ dates }} Races</h3>
  <div class="btn-toolbar">
    <div class="btn-group">
      {% if dates == 'Past' %}
        <a href="#" class="btn btn-default btn-sm disabled">Past</a>
        <a href="/races/?dates=Future" class="btn btn-sm btn-default">Future</a>
      {% else %}
        <a href="/races/" class="btn btn-sm btn-default">Past</a>
        <a href="#" class="btn btn-default btn-sm disabled">Future</a>
      {% endif %}
    </div>
    <div class="btn-group">
      {% if distance %}
        <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">{{ distance.name }} <span class="caret"></span></a>
      {% else %}
        <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Distance <span class="caret"></span></a>
      {% endif %}
      <ul class="dropdown-menu">
      {% if distance %}
        {% if dates == 'Future' %}
          <li><a href="/races/?dates=Future">All</a></li>
        {% else %}
          <li><a href="/races/">All</a></li>
        {% endif %}
      {% endif %}
      {% for dist in distances %}
        {% if dist != distance %}
          {% if dates == 'Future' %}
            <li><a href="/races/?dates=Future&distance={{ dist.slug }}">{{ dist.name }}</a></li>
          {% else %}
            <li><a href="/races/?distance={{ dist.slug }}">{{ dist.name }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>

  <p></p>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
      <tr>
        <th>Race</th>
        <th class="text-center">Date</th>
        {% if dates != 'Past' %}
          <th class="text-center">Weeks</th>
        {% endif %}
          <th>City</th>
          <th>Distances</th>
      </tr>
      {% for race in races %}
        <tr>
          <td>{{ race.events.0.date.year }} {{ race.events.0.race.name }}</td>
          <td class="text-center">{{ race.date|date:"M d" }}</td>
          {% if dates != 'Past' %}
            <td class="text-center">{{ race.weeks }}</td>
          {% endif %}
          <td>{{ race.city }}</td>
          <td>
          {% for event in race.events %}
              {% if dates == 'Past' %}
                <a href="/results/{{ event.date.year }}/{{ event.race.slug }}/{{ event.distance.slug }}" class="btn btn-default btn-xs">{{ event.distance.abbr }}</a>
              {% else %}
                <a href="#" class="btn btn-default btn-xs disabled">{{ event.distance.abbr }}</a>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </table>
</div>
{% endblock content %}
