{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Race Records - {{ race.shortname }} {{ distance.name }} | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
  <h3>Race Records - {{ race.shortname }} {{ distance.name }}</h3>
<div class="btn-toolbar">

<div class="btn-group">
  {% if gender == 'FM' %}
      <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
      <a href="/racerecords/{{ race.slug }}/{{ distance.slug }}/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
      <a href="/racerecords/{{ race.slug }}/{{ distance.slug }}/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
  {% endif %}
  {% if gender == 'F' %}
      <a href="/racerecords/{{ race.slug }}/{{ distance.slug }}" class="btn btn-default btn-sm">&nbsp;</a>
      <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
      <a href="/racerecords/{{ race.slug }}/{{ distance.slug }}/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
  {% endif %}
  {% if gender == 'M' %}
      <a href="/racerecords/{{ race.slug }}/{{ distance.slug }}" class="btn btn-default btn-sm">&nbsp;</a>
      <a href="/racerecords/{{ race.slug }}/{{ distance.slug }}/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
      <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
  {% endif %}
</div>

{% if distances|length > 1 %}
<div class="btn-group">
  <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">{{ distance.name }} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  {% for dist in distances %}
    {% if dist != distance %}
      {% if gender == 'FM' %}
        <li><a href="/racerecords/{{ race.slug }}/{{ dist.slug }}">{{ dist.name }}</a></li>
      {% else %}
        <li><a href="/racerecords/{{ race.slug }}/{{ dist.slug }}/?gender={{ gender }}">{{ dist.name }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
</div>
{% endif %}


</div>

  <p></p>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <tr>
        <th class="text-center">#</th>
        <th>Athlete</th>
        <th class="text-center">Year</th>
        <th class="text-center">Time</th>
        <th class="text-center">Pace</th>
      </tr>
      {% for result in results %}
        <tr>
          <td class="text-center">{{ forloop.counter }}</td>
          <td>
            <a href="#" class="btn btn-{{ result.colour_class }} btn-sm disabled"></a>
            <a href="/athlete/{{ result.result.athlete.slug }}">{{ result.result.athlete.name }}</a>
          </td>
          <td class="text-center"><a href="/results/{{ result.result.event.date.year }}/{{ result.result.event.race.slug }}/{{ result.result.event.distance.slug }}">{{ result.result.event.date.year }}</a></td>
          <td class="text-center"> {{ result.pbtime }}</td>
          <td class="text-center">{{ result.pace }}</td>
        </tr>
      {% endfor %}
    </table>
    </div>
{% endblock content %}
