{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
  Rankiest Races | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
  <h3>Rankiest Races</h3>
  <p>Races that appear most frequently in the top 3 of currently ranked athletes.</p>
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <tr>
        <th class="text-center">#</th>
        <th class="text-center" title="Frequency - number of ranked athletes currently using this race in their top 3.">F</th>
        <th>Race</th>
        <th>City</th>
        <th class="text-center" title="Days until race expires and is no longer eligible for ranking.">D2E</th>
      </tr>
      {% for e in events %}
        <tr>
          <td class="text-center">{{ forloop.counter }}</td>
          <td class="text-center">{{ e.frequency }}</td>
          <td><a href="/results/{{ e.event.date.year }}/{{ e.event.race.slug }}/{{ e.event.distance.slug }}">{{ e.event.date.year }} {{ e.event.race.shortname }} {{ e.event.distance.name }}</a></td>
          <td>{{ e.event.city }}</td>
          <td class="text-center">{{ e.d2e }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock content %}
