{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{{ date_filter.current_value }} Ranking | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>{{ date_filter.current_value }} Ranking</h3>

<div class="btn-toolbar">
  <!-- Date Filter -->
  <div class="btn-group">
    <a href="#" class="btn btn-{{ date_filter.btn_class }} btn-sm dropdown-toggle" data-toggle="dropdown">{{ date_filter.current_value }} <span class="caret"></span></a>
    <ul class="dropdown-menu">
      {% for item in date_filter.items %}
        <li><a href="{{ item.url }}">{{ item.value }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <!-- Gender Filter -->
  <div class="btn-group">
    {% for item in gender_filter %}
      <a href="{{ item.url }}" class="btn btn-sm btn-{{ item.colour_class }} {{ item.disabled }}">
      {% if item.value %}
        {{ item.value }}
      {% else %}
        &nbsp;
      {% endif %}
      </a>
    {% endfor %}
  </div>
  <!-- Age Filter -->
  <div class="btn-group">
    <a href="#" class="btn btn-{{ age_filter.btn_class }} btn-sm dropdown-toggle" data-toggle="dropdown">{{ age_filter.current_value }} <span class="caret"></span></a>
    <ul class="dropdown-menu">
      {% for item in age_filter.items %}
        <li><a href="{{ item.url }}">{{ item.value }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<p></p>

<div class="row">
  <div class="table-responsive col-xs-12 col-sm-12 col-md-10 col-lg-8">
    <table class="table table-bordered table-hover">
      <tr>
        <th class="text-center">#</th>
        <th class="text-center" title="Average 5K-equivalent time of top 3 results.">Time</th>
        <th>Athlete</th>
        <th class="text-center" title="H+P Standard">S</th>
        <th class="text-center" title="Average distance of top 3 results.">AD</th>
        <th class="text-center" title="Ranking time improvement since the end of the previous month.">TI</th>
        <th class="text-center" title="Change in ranking postion since the end of the previous month.">+/-</th>
        <th class="text-center" title="Days until a top 3 result will exceed 18 months and drop off.">D2D</th>
      </tr>
      {% for wr in wrlist %}
        {% ifchanged wr.minutegroup %}
          {% if forloop.counter > 1 %}
            <tr class="tr_dark_topborder">
          {% else %}
            <tr>
          {% endif %}
        {% else %}
          <tr>
        {% endifchanged %}
        <td class="text-center">{{ forloop.counter }}</td>
        <td class="text-center">{{ wr.atime }}</td>
        <td>
          <a href="#" class="btn btn-{{ wr.gender_colour_class }} btn-sm disabled"></a>
          <a href="/athlete/{{ wr.athlete.slug }}"> {{ wr.athlete.name }}</a>
        </td>
        {% if wr.stds %}
          <td class="text-center" title="{{ wr.stds.mouseover }}">
            <a href="#" class="btn btn-{{ wr.stds.colour }} btn-sm btn-standard disabled">{{ wr.stds.letter }}</a>
          </td>
        {% else %}
          <td></td>
        {% endif %}
        </td>
        <td class="text-center">{{ wr.avgkm }}</td>
        {% if wr.tidir == 'up' %}
          <td class="text-center"><span class="glyphicon glyphicon-arrow-up green" aria-hidden="true"></span> {{ wr.ti }}</td>
        {% elif wr.tidir == 'down' %}
          <td class="text-center"><span class="glyphicon glyphicon-arrow-down red" aria-hidden="true"></span> {{ wr.ti }}</td>
        {% else %}
          <td></td>
        {% endif %}
        {% if wr.pmdir == 'up' %}
          <td class="text-center"><span class="glyphicon glyphicon-chevron-up green" aria-hidden="true"></span> {{ wr.plusminus }}</td>
        {% elif wr.pmdir == 'down' %}
          <td class="text-center"><span class="glyphicon glyphicon-chevron-down red" aria-hidden="true"></span> {{ wr.plusminus }}</td>
        {% elif wr.plusminus == 'N' %}
          <td class="text-center"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
        {% else %}
          <td></td>
        {% endif %}
        {% if wr.d2d <= d2dred and wr.d2dred %}
          <td class="text-center red">{{ wr.d2d }}</td>
        {% else %}
          <td class="text-center">{{ wr.d2d }}</td>
        {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
