{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Redirect |
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
{% if redirecturl %}
<h3>This page has moved. Redirecting...</h3>
  <script type="text/javascript">
    location.href = "{{ redirecturl|safe }}";
  </script>
{% else %}
<h3>Oops!</h3>
  <p>
    The page you are looking for has moved. If you need help finding it email sl70176@gmail.com and we'll sort it out.
  </p>
{% endif %}
{% endblock content %}
