{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
  Result Exclude | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
    <h3>Result Exclude</h3>
    <p>
    Confirm you would like to exclude the following result from HPWR:<br><br>
    <strong>Event: </strong>
    {{ result.event }}<br>
    <strong>Athlete: </strong>
    {{ result.athlete.name }}<br>
    <strong>Gun Time: </strong>
    {{ result.guntime }}<br>
    </p>
    <a href="{{ request.path }}?confirmed=1" class="btn btn-danger btn-sm">Yes, I'm sure</a>&nbsp;&nbsp;
    <a href="/results/{{ result.event.date.year }}/{{ result.event.race.slug }}/{{ result.event.distance.slug }}" class="btn btn-default btn-sm">No, take me back</a>
    <br><br><p>Only click <strong>once</strong> then wait. It could take a bit of time.</p>
{% endblock content %}
