{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{{ event.date.year }} {{ event.race.shortname }} {{ event.distance }} | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P at the {{ event.date.year }} {{ event.race.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
  <h3>{{ event.date.year }} {{ event.race.shortname }} {{ event.distance }}</h3>
  <h5>{{ event.date|date:"F j" }} | {{ event.city }}</h5>
<div class="btn-toolbar">

{% if showgenders %}
  <div class="btn-group">
    {% if gender == 'FM' %}
        <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
        <a href="/results/{{ event.date.year }}/{{ event.race.slug }}/{{ distance_slug }}/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="/results/{{ event.date.year }}/{{ event.race.slug }}/{{ distance_slug }}/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
    {% endif %}
    {% if gender == 'F' %}
        <a href="/results/{{ event.date.year }}/{{ event.race.slug }}/{{ distance_slug }}" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
        <a href="/results/{{ event.date.year }}/{{ event.race.slug }}/{{ distance_slug }}/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
    {% endif %}
    {% if gender == 'M' %}
        <a href="/results/{{ event.date.year }}/{{ event.race.slug }}/{{ distance_slug }}" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="/results/{{ event.date.year }}/{{ event.race.slug }}/{{ distance_slug }}/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
    {% endif %}
  </div>
{% endif %}


{% if years|length > 1 %}
<div class="btn-group">
  <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">{{ event.date.year }} <span class="caret"></span></a>
  <ul class="dropdown-menu">
    {% for year in years %}
      {% if year.year != event.date.year %}
        <li><a href="/results/{{ year.year }}/{{ year.slug }}/{{ distance_slug }}">{{ year.year }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if distances|length > 1%}
  <div class="btn-group">
    {% for distance in distances %}
      {% if distance.slug == distance_slug %}
        <a href="#" class="btn btn-default btn-sm disabled">{{ distance.abbr }}</a>
      {% else %}
        <a href="/results/{{ event.date.year }}/{{ event.race.slug }}/{{ distance.slug }}" class="btn btn-sm btn-default">{{ distance.abbr }}</a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if years|length > 1 %}
  <a href="/racerecords/{{ event.race.slug }}/{{ event.distance.slug }}/" class="btn btn-sm btn-default">
    <i title="Records">
      <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
    </i>
  </a>
{% endif %}


</div>
<div class="table-responsive">
  <p></p>
    <table class="table table-bordered table-hover">
      <tr>
        <th class="text-center" title="H+P Place">HP</th>
        <th>Athlete</th>
        <th class="text-center">Time</th>
        <th class="text-center" title="min/km">Pace</th>
        {% if event.distance.slug != '5-km' %}
          <th class="text-center" title="5K Equivalent Time">~5K</th>
        {% endif %}
        <th class="text-center" title="Race Place">RP</th>
        <th class="text-center" title="Gender Place">GP</th>
        {% if showcategory %}
          <th class="text-center" title="Category Place">CP</th>
          <th>Category</th>
        {% endif %}
        {% for s in split_counter %}
          <th class="text-center">Split {{ forloop.counter }}</th>
        {% endfor %}
        {% if user.is_authenticated %}
          <th class="text-center"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></th>
        {% endif %}
      </tr>
      {% for result in results %}
        <tr>
          <td class="text-center">{{ forloop.counter }}</td>
          <td>
          {% if result.glyph  %}
          {% if result.glyph == 'star' %}
          <i title="Career Best (any distance)">
          {% else %}
          <i title="Personal Best">
          {% endif %}
          <a href="#" class="btn btn-{{ result.colourclass }} btn-sm disabled wrapper"><span class="glyphicon glyphicon-{{ result.glyph }} glyphicon-mark" aria-hidden="true"></span></a>
          </i>
          <a href="/athlete/{{ result.athlete.slug }}">{{ result.athlete }}</a>
          {% else %}
          <a href="#" class="btn btn-{{ result.colourclass }} btn-sm disabled"></a> <a href="/athlete/{{ result.athlete.slug }}">{{ result.athlete }}</a>
          {% endif %}
          {% if result.std %}
            <a href="#" class="btn btn-{{ result.std.colour }} btn-sm btn-standard disabled">{{ result.std.letter }}</a>
          {% endif %}
          </td>
          <td class="text-center"> {{ result.chiptime }}</td>
          <td class="text-center">{{ result.pace }}</td>
          {% if event.distance.slug != '5-km' %}
            <td class="text-center">{{ result.fivek_equiv }}</td>
          {% endif %}
          <td class="text-center">{{ result.place }}</td>
          {% if result.gender_place %}
          <td class="text-center">{{ result.gender_place }}</td>
          {% else %}
          <td></td>
          {% endif %}
          {% if showcategory %}
            <td class="text-center">{{ result.category_place }}</td>
            <td>{{ result.category }}</td>
          {% endif %}
          {% for s in result.splits %}
            <td class="text-center">
              {% if s.split_time != 'None' %}
                {{ s.split_time }}
              {% endif %}
            </td>
          {% endfor %}
          {% if user.is_authenticated %}
            <td class="text-center"><a href="/result-exclude/{{ event.id }}/{{ result.athlete.id }}/{{ result.guntimemicroseconds }}/"><span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span></td></a>
          {% endif %}

        </tr>
      {% endfor %}
    </table>
</div>
{% endblock content %}
