{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
  Search | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
  <h3>Search Results</h3>
  <p>
    {% if message != '' %}
      {{ message }}
    {% else %}

      <!-- Show any athletes --> 
      {% if athletes|length > 0 %}
        <h4>Athletes</h4>
        {% for athlete in athletes %}
          <h5>
            {% if athlete.gender == 'F' %}
              <a href="#" class="btn btn-{{ female_colour_class }} btn-sm disabled"></a>
            {% else %}
              <a href="#" class="btn btn-{{ male_colour_class }} btn-sm disabled"></a>
            {% endif %}
            <a href="/athlete/{{ athlete.slug }}">{{ athlete.name }}</a>
          </h5>
        {% endfor %}
        <br>
      {% endif %}

      <!-- Show any future races --> 
      {% if future_races|length > 0 %}
        <h4>Future Races</h4>
        <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <tr>
            <th>Race</th>
            <th class="text-center">Date</th>
            <th class="text-center">Weeks</th>
            <th>City</th>
            <th>Distances</th>
          </tr>
        {% for race in future_races %}
          <tr>
            <td>{{ race.events.0.date.year }} {{ race.events.0.race.name }}</td>
            <td class="text-center">{{ race.date|date:"M d" }}</td>
            <td class="text-center">{{ race.weeks }}</td>
            <td>{{ race.city }}</td>
            <td>
              {% for event in race.events %}
                <a href="#" class="btn btn-default btn-xs disabled">{{ event.distance.abbr }}</a>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
        </table>
        </div>
      {% endif %}

      <!-- Show any future races --> 
      {% if past_races|length > 0 %}
        <h4>Past Races</h4>
        <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <tr>
            <th>Race</th>
            <th class="text-center">Date</th>
            <th>City</th>
            <th>Distances</th>
          </tr>
          {% for race in past_races %}
            <tr>
              <td>{{ race.events.0.date.year }} {{ race.events.0.race.name }}</td>
              <td class="text-center">{{ race.date|date:"M d" }}</td>
              <td>{{ race.city }}</td>
              <td>
              {% for event in race.events %}
                <a href="/results/{{ event.date.year }}/{{ event.race.slug }}/{{ event.distance.slug }}" class="btn btn-default btn-xs">{{ event.distance.abbr }}</a>
              {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </table>
        </div>
      {% endif %}

    {% endif %}
{% endblock content %}
