{% extends "boltapp/base.html" %}
{% load static from staticfiles %}
{% block title %}Redirect - H+P World Ranking{% endblock %}
{% block content %}
{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}
<script type="text/javascript">
location.href = "{{ redirecturl|safe }}";
</script>
{% endblock %}

