{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Standards | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>
Standards
</h3> 
<h5>
<a href="#req">Requirements</a>
</h5>
  
<div class="btn-toolbar">
  <!-- Gender Filter -->
  <div class="btn-group">
    {% if gender == 'FM' %}
      {% if year %}
        <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
        <a href="/standards/?year={{ year }}&gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="/standards/?year={{ year }}&gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
      {% else %}
        <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
        <a href="/standards/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="/standards/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
      {% endif %}
    {% endif %}
    {% if gender == 'F' %}
      {% if year %}
        <a href="/standards/?year={{ year }}" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
        <a href="/standards/?year={{ year }}&gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
      {% else %}
        <a href="/standards/" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
        <a href="/standards/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
      {% endif %}
    {% endif %}
    {% if gender == 'M' %}
      {% if year %}
        <a href="/standards/?year={{ year }}" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="/standards/?year={{ year}}&gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
      {% else %}
        <a href="/standards/" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="/standards/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
      {% endif %}
    {% endif %}
  </div>

  <!-- Year Filter -->
  <div class="btn-group">
    {% if year %}
      <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">{{ year }} <span class="caret"></span></a>
    {% else %}
      <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">All Years <span class="caret"></span></a>
    {% endif %}
    <ul class="dropdown-menu">
      {% if year %}
        <li><a href="/standards/">All Years</a></li>
      {% endif %}
      {% for y in years %}
        {% if y != year %}
          <li><a href="/standards/?year={{ y }}">{{ y }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>

<p></p>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 table-responsive">
    <table class="table table-bordered table-hover">
      <tr>
        <th>Athlete</th>
        <th class="text-center" title="Standard">S</th>
        <th>Distance</th>
        <th>Race</th>
      </tr>
      {% for r in results %}
        <tr>
          <td><a href="#" class="btn btn-{{ r.gender_colour_class }} btn-sm disabled"></a> <a href="/athlete/{{ r.athlete.slug }}/">{{ r.athlete.name }}</a></td>
          <td class="text-center"><a href="#" class="btn btn-{{ r.letter_colour_class }} btn-sm btn-standard disabled">{{ r.letter }}</a></td>
          <td>{{ r.distance }}</td>
          <td><a href="/results/{{ r.event.date.year }}/{{ r.event.race.slug }}/{{ r.event.distance.slug }}">{{ r.event.date.year }} {{ r.event.race.shortname }} {{ r.event.distance.name }}</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="row" id="req">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
    <h3>Requirements</h3>
    <p>For full requirements go to <a href="http://www.health-performance.ca/club-standards/" target="_blank">http://www.health-performance.ca/club-standards/</a></p>
    <table class="table table-bordered">
      <tr>
        <th></th>
        <th class="text-center" colspan="3">Women</th>
        <th class="text-center" colspan="3">Men</th>
      </tr>
      <tr>
        <th>Distance</th>
        <th class="text-center">A</th>
        <th class="text-center">B</th>
        <th class="text-center">C</th>
        <th class="text-center">A</th>
        <th class="text-center">B</th>
        <th class="text-center">C</th>
      </tr>
      {% for o in oa_standards %}
        <tr>
          <td>{{ o.distance }}</td>
          <td class="text-center">{{ o.fa }}</td>
          <td class="text-center">{{ o.fb }}</td>
          <td class="text-center">{{ o.fc }}</td>
          <td class="text-center">{{ o.ma }}</td>
          <td class="text-center">{{ o.mb }}</td>
          <td class="text-center">{{ o.mc }}</td>
        </tr>
      {% endfor %}
    </table>
    <table class="table table-bordered">
      <tr>
        <th></th>
        <th class="text-center" colspan="3">Masters Women</th>
        <th class="text-center" colspan="3">Masters Men</th>
      </tr>
      <tr>
        <th>Distance</th>
        <th class="text-center">A</th>
        <th class="text-center">B</th>
        <th class="text-center">C</th>
        <th class="text-center">A</th>
        <th class="text-center">B</th>
        <th class="text-center">C</th>
      </tr>
      {% for m in masters_standards %}
        <tr>
          <td>{{ m.distance }}</td>
          <td class="text-center">{{ m.fa }}</td>
          <td class="text-center">{{ m.fb }}</td>
          <td class="text-center">{{ m.fc }}</td>
          <td class="text-center">{{ m.ma }}</td>
          <td class="text-center">{{ m.mb }}</td>
          <td class="text-center">{{ m.mc }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
