{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Strava Conquest | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3><img alt="Strava" height="30" width="30" src="{% static 'strava.png' %}"> Strava Conquest</h3>

<div class="btn-toolbar">
  <div class="btn-group">
    {% if gender == 'FM' %}
      <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
      <a href="/strava/conquest/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
      <a href="/strava/conquest/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
    {% endif %}
    {% if gender == 'F' %}
      <a href="/strava/conquest" class="btn btn-default btn-sm">&nbsp;</a>
      <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
      <a href="/strava/conquest/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
    {% endif %}
    {% if gender == 'M' %}
      <a href="/strava/conquest" class="btn btn-default btn-sm">&nbsp;</a>
      <a href="/strava/conquest/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
      <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
    {% endif %}
  </div>
</div>

<p></p>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 table-responsive">
    <table class="table table-bordered table-hover">
      <tr>
        <th class="text-center">#</th>
        <th>Athlete</th>
        <th class="text-center">Segs</th>
        <th class="text-center">KM</th>
        <th class="text-center">Time</th>
        <th class="text-center">Pace</th>
      </tr>
      {% for r in results %}
        <tr>
          <td class="text-center">{{ forloop.counter }}</td>
          <td><a href="#" class="btn btn-{{ r.colour_class }} btn-sm disabled"></a> <a href="/strava/conqueror/{{ r.athlete.slug }}">{{ r.athlete.name }}</a></td>
          <td class="text-center">{{ r.segment_count }}</td>
          <td class="text-center">{{ r.total_km|floatformat:1 }}</td>
          <td class="text-center">{{ r.total_time }}</td>
          <td class="text-center">{{ r.pace }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
