{% extends "boltapp/base.html" %}
{% load static from staticfiles %}
{% block title %}Strava Segments Map | 
{% endblock %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3><img height="30" width="30" src="{% static 'strava.png' %}"> Strava Segments Map</h3>
<iframe width="1275" height="660" frameborder="0" src="http://andreality.github.io/strava_standalone.html"></iframe>
<p>Courtesy of <a href="http://andreality.github.io/">Running Mind</a>.</p>
{% endblock %}
{% block footer %}
{% endblock %}
