{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Strava {{ segment_set_name }} Segments | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
  <h3><img alt="Strava" height="30" width="30" src="{% static 'strava.png' %}"> Strava {{ segment_set_name }} Segments</h3>
<p></p>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="panel panel-default">
      <table class="table table-condensed table-bordered">
        <tr>
          <th colspan="3" class="text-center">H+P Domination Level</th>
        </tr>
        <tr>
          <td>Female</td>
          <td class="text-center">{{ female_count }} / {{ total_segments }}</td>
          <td class="text-center">{{ female_pct }}</td>
        </tr>
        <tr>
          <td>Male</td>
          <td class="text-center">{{ male_count }} / {{ total_segments }}</td>
          <td class="text-center">{{ male_pct }}</td>
        </tr>
        <tr>
          <td>Overall</td>
          <td class="text-center">{{ male_count|add:female_count }} / {{ total_segments|add:total_segments }}</td>
          <td class="text-center">{{ overall_pct }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <div class="panel panel-default">
      <table class="table table-condensed table-bordered">
        <tr>
          <th colspan="2" class="text-center">Top Queens</th>
          <th colspan="2" class="text-center">Top Kings</th>
        </tr>
        <tr>
          <td><a href="/strava/conqueror/{{ topqueens.0.athlete.slug }}">{{ topqueens.0.athlete.name }}</a></td>
          <td class="text-center">{{ topqueens.0.count }}</td>
          <td><a href="/strava/conqueror/{{ topkings.0.athlete.slug }}">{{ topkings.0.athlete.name }}</a></td>
          <td class="text-center">{{ topkings.0.count }}</td>
        </tr>
        <tr>
          <td><a href="/strava/conqueror/{{ topqueens.1.athlete.slug }}">{{ topqueens.1.athlete.name }}</a></td>
          <td class="text-center">{{ topqueens.1.count }}</td>
          <td><a href="/strava/conqueror/{{ topkings.1.athlete.slug }}">{{ topkings.1.athlete.name }}</a></td>
          <td class="text-center">{{ topkings.1.count }}</td>
        </tr>
        <tr>
          <td><a href="/strava/conqueror/{{ topqueens.2.athlete.slug }}">{{ topqueens.2.athlete.name }}</a></td>
          <td class="text-center">{{ topqueens.2.count }}</td>
          <td><a href="/strava/conqueror/{{ topkings.2.athlete.slug }}">{{ topkings.2.athlete.name }}</a></td>
          <td class="text-center">{{ topkings.2.count }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
      <tr>
        <th class="text-center">#</th>
        <th>Segment</th>
        <th class="text-center">KM</th>
        <th>Queen</th>
        <th class="text-center">Pace</th>
        <th>King</th>
        <th class="text-center">Pace</th>
      </tr>
      {% for cr in crs %}
        <tr>
          <td class="text-center">{{ forloop.counter }}</td>
          <td><a href="#" class="btn btn-{{ cr.colour_class }} btn-sm disabled"></a> <a href="/strava/segment/{{ cr.segment_id}}">{{ cr.segment_name }}</a></td>
          <td class="text-center"><a target=_blank href="https://www.strava.com/segments/{{ cr.segment_id}}">{{ cr.km }}</a></td>
          {% if cr.queen_slug %}
          <td><a href="/strava/conqueror/{{ cr.queen_slug }}">{{ cr.queen }}</a></td>
          {% else %}
          <td class="red">{{ cr.queen }}</td>
          {% endif %}
          <td class="text-center">{{ cr.queen_pace }}</td>
          {% if cr.king_slug %}
          <td><a href="/strava/conqueror/{{ cr.king_slug }}">{{ cr.king }}</a></td>
          {% else %}
          <td class="red">{{ cr.king }}</td>
          {% endif %}
          <td class="text-center">{{ cr.king_pace }}</td>
          <!--<a href="#" class="btn btn-{{ result.colourclass }} btn-sm disabled"></a> <a href="/athlete/{{ result.athlete.slug }}">{{ result.athlete }}</a></td>-->
        </tr>
      {% endfor %}
    </table>
</div>
{% endblock content %}
