{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
{{ athlete.name }} | Strava Conqueror | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3><img alt="Strava" height="30" width="30" src="{% static 'strava.png' %}"> Strava Conqueror - {{ athlete.name }}</h3>

 <p>vs:
  <select onchange="location = this.options[this.selectedIndex].value;">
  {% if vs_athlete %}
      <option>{{ vs_athlete.name }}</option>
      <option value="/strava/conqueror/{{ athlete.slug}}/"></option>
  {% else %}
      <option></option>
  {% endif %}
  {% for a in vs_athletes %}
      {% if a != athlete %}
      <option value="/strava/conqueror/{{ athlete.slug}}/?vs={{ a.slug}}">{{ a.name }}</option>
      {% endif %}
  {% endfor %}
  </select>
 </p>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
    <table class="table table-bordered table-hover">
      <tr>
        <th class="text-center">#</th>
        <th>Segment</th>
        <th class="text-center">KM</th>
        <th class="text-center">Time</th>
        <th class="text-center">Pace</th>
        {% if vs_athlete %}
        <th class="text-center">vs Time</th>
        <th class="text-center">vs Pace</th>
        <th class="text-center">Gap</th>
        {% endif %}
      </tr>
      {% for r in results %}
        <tr>
          <td class="text-center">{{ forloop.counter }}</td>
          <td><a href="#" class="btn btn-{{ r.colour_class }} btn-sm disabled"></a> <a href="/strava/segment/{{ r.segment.id }}">{{ r.segment.name }}</a></td>
          <td class="text-center">{{ r.km }}</td>
          <td class="text-center">{{ r.segtime }}</td>
          <td class="text-center">{{ r.pace }}</td>
          {% if vs_athlete %}
            <td class="text-center">{{ r.vs_segtime }}</td>
            <td class="text-center">{{ r.vs_pace }}</td>
            {% if r.vs_colour_class %} 
            <td><a href="#" class="btn btn-{{ r.vs_colour_class }} btn-sm disabled"></a> {{ r.gap }}</td>
            {% else %}
            <td></td>
            {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
