{% extends "boltapp/base.html" %}
{% load static from staticfiles %}

{% block title %}
Race Wins | 
{% endblock title %}

{% block ogmeta %}
    <meta property="og:title" content="H+P World Ranking" />
    <meta property="og:description" content="Crush your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'hpwr_ogimage.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>
Race Wins
</h3> 
  
<div class="btn-toolbar">
  <!-- Gender Filter -->
  <div class="btn-group">
    {% if gender == 'FM' %}
      {% if year %}
        <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
        <a href="/wins/?year={{ year }}&gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="/wins/?year={{ year }}&gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
      {% else %}
        <a href="#" class="btn btn-default btn-sm disabled">&nbsp;</a>
        <a href="/wins/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="/wins/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
      {% endif %}
    {% endif %}
    {% if gender == 'F' %}
      {% if year %}
        <a href="/wins/?year={{ year }}" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
        <a href="/wins/?year={{ year }}&gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
      {% else %}
        <a href="/wins/" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="#" class="btn btn-sm btn-{{ female_colour_class }} disabled">F</a>
        <a href="/wins/?gender=M" class="btn btn-sm btn-{{ male_colour_class }}">M</a>
      {% endif %}
    {% endif %}
    {% if gender == 'M' %}
      {% if year %}
        <a href="/wins/?year={{ year }}" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="/wins/?year={{ year}}&gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
      {% else %}
        <a href="/wins/" class="btn btn-default btn-sm">&nbsp;</a>
        <a href="/wins/?gender=F" class="btn btn-sm btn-{{ female_colour_class }}">F</a>
        <a href="#" class="btn btn-sm btn-{{ male_colour_class }} disabled">M</a>
      {% endif %}
    {% endif %}
  </div>

  <!-- Year Filter -->
  <div class="btn-group">
    {% if year %}
      <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">{{ year }} <span class="caret"></span></a>
    {% else %}
      <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">All Years <span class="caret"></span></a>
    {% endif %}
    <ul class="dropdown-menu">
      {% if year %}
        <li><a href="/wins/">All Years</a></li>
      {% endif %}
      {% for y in years %}
        {% if y != year %}
          <li><a href="/wins/?year={{ y }}">{{ y }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
  </div>

</div>

<p></p>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 table-responsive">
    <table class="table table-bordered table-hover">
      <tr>
        <th>Athlete</th>
        <th>Race</th>
        <th class="text-center">Gun Time</th>
        <th class="text-center" title="min/km">Pace</th>
      </tr>
      {% for r in results %}
        <tr>
          <td><a href="#" class="btn btn-{{ r.gender_colour_class }} btn-sm disabled"></a> <a href="/athlete/{{ r.result.athlete.slug }}/?racefilter=Wins">{{ r.result.athlete.name }}</a></td>
          <td>
            <a href="/results/{{ r.result.event.date.year }}/{{ r.result.event.race.slug }}/{{ r.result.event.distance.slug }}">{{ r.result.event.date.year }} {{ r.result.event.race.shortname }} {{ r.result.event.distance.name }}</a>
          </td>
          <td class="text-center">{{ r.guntime }}</td>
          <td class="text-center">{{ r.pace }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
